<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/home.css">
</head>
<body>
<div class="container">

	<div class="navbar navbar-default">
	
		<if condition="$Think.session.uname eq '' ">
		<span class="navbar-text navbar-right mg-r-20">	
			<a href="{:U('Index/login')}">
				登陆
			</a>
			<a href="{:U('Index/regist')}">
				注册
			</a>
		</span>	
		<else />
		<span class="navbar-text mg-r-20">	
			
			<img width="40px" height="40px" class="img-circle" src="/Uploads/{$Think.session.photo}" alt="">
			当前用户：{$Think.session.uname}
		</span>	
		</if>
			
			
	</div>

	<div class="row">
		
		<block name="content"></block>
	
	
	</div>
	

</div>
	
</body>
</html>