<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>布局</title>
	<style>
		.wrap{width:1000px;}
		.head{height:100px;background:#ffffcc;}
		.nav{height:40px;background:#ccffff;}
		.content{}
		.content div{float:left;}
		.content_l{width:250px;background:#99ff33;}
		.content_r{width:750px;background:#ff6600;}
		.foot{height:100px;background:#ffffcc;}
		.clear{clear:both;}
	</style>
</head>
<body>
	<div class="wrap">		
		<div class="head"></div>
		<div class="nav"></div>
		<div class="content">

			<div class="content_l">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="content_r">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>				
			</div>
			
		</div>
		<div class="clear"></div>
		<div class="foot">
		
		</div>	
	</div>
	
</body>
</html>